
.app-wrapper{
    height: 100%;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-auto-flow: row;
}

.page_layout {
    min-height: 600px;
    display: grid;
    width: 1200px;
    margin: 10px auto 0;

    grid-template-areas: "nav profile";
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: profile;
    background-color: whitesmoke;
}
